
.containerCenter{
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* um itme sempre abaixo do outro */
  align-items: center;
  justify-content: center;
  background-color: var(--dark-700);

}

.login{
  border-radius: 5px;
  // margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 350px;

  h1{
    color: var(--white);
  }


  form{
    color: var(--white);
    padding-bottom: 16px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 16px;
  }

  form button {
    margin-top: 15px;
    height: 40px;
    font-size: 1rem;
    background-color: var(--red-900);
    border: 0;
    border-radius: 8px;
    color: var(--white);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
  }

  form button:hover{
    /*transform: scale(1.05);
    border: 1px solid crimson;
    background-color: transparent;*/

    transform: scale(1) translateY(-1px);
    box-shadow: 0 0 20px crimson;
  }
}

.text{
  color: var(--white);
  text-decoration: none;
}

.loginInput{
  height: 40px;
  border: 1px solid var(--gray-100);
  padding: 0 16px;
  border-radius: 8px;
  background-color: var(--dark-900);
  color: var(--white);
  font-size: 16px;
}

@media (max-width: 620px) {
  .login{
    width: 80%
  }
}

